from helpers.utils import * 

DAY = {{ day }}


def first_part(input_file):
    lines = extract_lines(DAY, input_file)


print("== FIRST PART ==")
assert_example(first_part, "changeme")
get_result(first_part)

"""
def second_part(input_file):
    lines = extract_lines(DAY, input_file)


print("== SECOND PART ==")
assert_example(second_part, "changeme")
get_result(second_part)
"""